<app-forms-container title="Add artist">
  <form fxLayout="column" #f=ngForm (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Artist name</mat-label>
      <input
        type="text"
        name="name"
        required matInput ngModel #name="ngModel"
      />
      <mat-error *ngIf="name.touched && name.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Information about artist</mat-label>
     <textarea matInput required ngModel name="information">
     </textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Artist photo</mat-label>
      <app-file-input ngModel name="photo"></app-file-input>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">ADD Artist</button>
  </form>
</app-forms-container>
