<mat-sidenav-container class="sidenav-container">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
      <div>
        <a mat-button routerLink="/">Home</a>
      </div>
      <nav *appUserType="'user' else notUser">
          <a mat-button routerLink="/historyTracks">Track history</a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="createMenu">
            <mat-icon>library_add</mat-icon>
          </button>
          <mat-menu #createMenu="matMenu">
            <a mat-menu-item routerLink="/newArtist">Add artist</a>
            <a mat-menu-item routerLink="/newAlbum">Add album</a>
            <a mat-menu-item routerLink="/newTrack">Add track</a>
          </mat-menu>
          <span class="userName">Hello, {{ (user | async)?.userName }}</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
      </nav>
    </mat-toolbar>
   <ng-content></ng-content>
</mat-sidenav-container>
<ng-template #notUser>
  <a mat-button routerLink="/registration">Registration</a>
  <a mat-button routerLink="/login">Login</a>
</ng-template>

