<app-forms-container title="Tracks">
  <div *appHasRoles="['admin'] else users">
    <mat-list *ngFor="let track of (tracks | async)" role="listitem">
      <strong>{{ track.title + '  -  ' + track?.lengthOfTrack  }}</strong>
      <i *ngIf="!(track.is_published)">unpublished</i>
      <div  *ngIf="(user | async) else notUser">
        <youtube-player
          [videoId]="track.youtubeLink"
          suggestedQuality="highres"
          [height]="200"
          [width]="350"
          [startSeconds]="4"
          [endSeconds]="8"
        ></youtube-player>
        <div *appHasRoles="['admin']">
          <button mat-button *ngIf="!(track.is_published)" (click)="editTrack(track._id)">
            <mat-icon class="publish-icon">done</mat-icon> Publish
          </button>
          <button mat-button (click)="remove(track._id)">
            <mat-icon class="remove-icon">delete</mat-icon> Remove
          </button>
        </div>
        <button mat-button (click)="addTrack( track._id )">
          <mat-icon>add</mat-icon> Add track
        </button>
      </div>
    </mat-list>
  </div>

</app-forms-container>
<ng-template #notUser>
  <span>Please register or login to listen the track</span>
</ng-template>

<ng-template #users>
  <mat-list *ngFor="let track of (tracks | async)" role="listitem">
    <div *ngIf="track.is_published">
      <strong>{{ track.title + '  -  ' + track?.lengthOfTrack  }}</strong>
      <div  *ngIf="(user | async) else notUser">
        <button mat-button (click)="addTrack( track._id )">
          <mat-icon>add</mat-icon>
        </button>
        <youtube-player
          [videoId]="track.youtubeLink"
          suggestedQuality="highres"
          [height]="200"
          [width]="350"
          [startSeconds]="4"
          [endSeconds]="8"
        ></youtube-player>
      </div>
    </div>

  </mat-list>
</ng-template>

