mat-card
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: flex-start

a
  max-width: 800px
  border-radius: 5px
  display: flex
  flex-direction: row-reverse
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2)
  overflow: hidden
  margin: 0 5px 10px
  width: 350px
  padding: 10px
  text-decoration: none
  color: black
  cursor: pointer

.card-image
  flex: 0 0 45%
  height: 200px

img
  height: auto
  display: block

.card-content
  padding: 0 20px 0 0



