<div class="container">
  <mat-progress-spinner *ngIf="(loading | async) else artistArea"
                        mode="indeterminate">
  </mat-progress-spinner>
  <div class="error" *ngIf="error | async">
    {{ error | async }}
  </div>
  <ng-template #artistArea>
    <mat-card *appHasRoles="['admin'] else user">
      <a class="artist-container" *ngFor="let artist of (artists | async)" [routerLink]="['/albums']" [queryParams]="{artist: artist._id}">
          <div class="card-image">
            <img
              [src]="'http://localhost:8000/uploads/'+artist.photo"
              alt="Photo artist"
              mat-card-image
            />
          </div>
          <div class="card-content">
            <strong>{{ artist.name }}</strong>
            <p>{{ artist.information}}</p>
            <i *ngIf="!(artist.is_published)">unpublished</i>
            <div>
              <button mat-button *ngIf="!(artist.is_published)" (click)="editArtist(artist._id)">
                <mat-icon class="publish-icon">done</mat-icon> Publish
              </button>
              <button mat-button (click)="remove(artist._id)">
                <mat-icon class="remove-icon">delete</mat-icon> Remove
              </button>
            </div>
          </div>
      </a>
    </mat-card>
  </ng-template>
</div>

<ng-template #user>
  <a *ngFor="let artist of (artists | async)" [routerLink]="['/albums']" [queryParams]="{artist: artist._id}">
    <div class="card-container" *ngIf="artist.is_published">
      <div class="card-image">
        <img
          [src]="'http://localhost:8000/uploads/'+artist.photo"
          alt="Photo artist"
          mat-card-image
        />
      </div>
      <div class="card-content">
        <strong>{{ artist.name }}</strong>
        <p>{{ artist.information}}</p>
      </div>
    </div>
  </a>
</ng-template>
