<div class="container">
  <div class="content">
    <mat-progress-spinner *ngIf="(loading | async) else albumArea"
                          mode="indeterminate">
    </mat-progress-spinner>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <ng-template #albumArea>
        <mat-card>
          <mat-card-title>
            <h2>Albums:</h2>
          </mat-card-title>
          <mat-card-content *appHasRoles="['admin'] else user">
            <div class="album-info" *ngFor="let album of albums | async">
           <div>
                <div class="album-image">
                  <img
                    [src]="'http://localhost:8000/uploads/'+album.image"
                    alt="'Photo artist"
                    mat-card-image
                  />
                </div>
                <div class="album-content">
                  <h3>{{ album.title }}</h3>
                  <span>Artist: {{ album.artist?.name }}</span>
                  <i>Date: {{ album.date}}</i>
                  <a [routerLink]="['/tracks']" [queryParams]="{album: album._id}">Tracks</a>
                  <i *ngIf="!(album.is_published)">unpublished</i>
                  <div>
                    <button mat-button *ngIf="!(album.is_published)" (click)="editAlbum(album._id)">
                      <mat-icon class="publish-icon">done</mat-icon> Publish
                    </button>
                    <button mat-button (click)="remove(album._id)">
                      <mat-icon class="remove-icon">delete</mat-icon> Remove
                    </button>
                  </div>
                </div>
           </div>
            </div>
          </mat-card-content>
        </mat-card>
    </ng-template>
  </div>
</div>

<ng-template #user>
  <div class="album-info" *ngFor="let album of albums | async">
    <div *ngIf="album.is_published">
      <div class="album-image">
        <img
          [src]="'http://localhost:8000/uploads/'+album.image"
          alt="'Photo artist"
          mat-card-image
        />
      </div>
      <div class="album-content">
        <h3>{{ album.title }}</h3>
        <span>Artist: {{ album.artist?.name }}</span>
        <i>Date: {{ album.date}}</i>
        <a [routerLink]="['/tracks']" [queryParams]="{album: album._id}">Tracks</a>
      </div>
    </div>
  </div>
</ng-template>
