mat-card
  margin: 0 5px 10px
  width: 600px

mat-card-content
  display: flex
  flex-wrap: wrap
  flex-direction: column

.mat-card-image
  padding: 0
  margin: 0

.container
  padding: 0 15px

.content
  display: flex
  flex-wrap: wrap
  flex-direction: column

mat-card-title
  margin-bottom: 20px
  text-align: center

.album-info
  max-width: 800px
  border-radius: 5px
  display: flex
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, .2)
  overflow: hidden
  margin: 0 0 10px

.album-image
  flex: 0 0 45%
  height: 250px

img
  width: auto
  height: 100%
  display: block

.album-content
  background-color: #fff
  flex: 1
  padding: 35px 30px
  display: flex
  flex-direction: column


.mat-card-image:first-child
  margin: 0

a
  display: block
  text-decoration: none
