<app-forms-container title="Add track">

  <form fxLayout="column" #f=ngForm (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Artist</mat-label>
      <mat-select name="artist" required ngModel (valueChange)="onChangeArtist($event)">
        <mat-option *ngFor="let artist of (artists | async)" [value]="artist._id">
          {{ artist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Album</mat-label>
      <mat-select name="album" required ngModel>
        <mat-option *ngFor="let album of (albums | async)" [value]="album._id">
          {{ album.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Track title</mat-label>
      <input
        type="text"
        name="title"
        required matInput ngModel #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Length of track</mat-label>
      <input
        type="text"
        name="lengthOfTrack"
        required matInput ngModel #lengthOfTrack="ngModel"
      />
      <mat-error *ngIf="lengthOfTrack.touched && lengthOfTrack.hasError('required')">
        Length of track is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Youtube link</mat-label>
      <input
        type="text"
        name="youtubeLink"
        required matInput ngModel #youtubeLink="ngModel"
      />
      <mat-error *ngIf="youtubeLink.touched && youtubeLink.hasError('required')">
        Youtube link is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">ADD Track</button>
  </form>
</app-forms-container>
