  <div class="trackHistory-block">
  <h2 class="title">Your listened tracks:</h2>
    <mat-list *ngFor="let track of (tracksHistory | async)">
      <mat-list-item>
        <strong class="artist-name">{{ track.artist?.name }}:</strong>
        {{ track.track?.title + '  -  ' + track.track?.lengthOfTrack }}
        <span class="time-string">
           {{ track.dateTime }}
        </span>
      </mat-list-item>
    </mat-list>
  </div>>
