span
  margin-left: 20px

mat-list-item
  border-bottom: 1px solid #ccc
  padding: 5px

.trackHistory-block
  max-width: 80%
  margin: 0 auto
  border-left: 2px solid rgba(136, 56, 238, 0.55)
  padding: 5px 10px

.title
  padding-left: 10px

.time-string
  margin-left: auto
  padding-left: 10px

.artist-name
  margin-right: 5px
