<app-forms-container title="Add album">
  <form fxLayout="column" #f=ngForm (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Artist</mat-label>
      <mat-select name="artist" required ngModel>
        <mat-option *ngFor="let artist of (artists | async)" [value]="artist._id">
          {{ artist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Album title</mat-label>
      <input
        type="text"
        name="title"
        required matInput ngModel #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Album date</mat-label>
      <input
        type="text"
        name="date"
        required matInput ngModel #date="ngModel"
      />
      <mat-error *ngIf="date.touched && date.hasError('required')">
        Date is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Album image</mat-label>
      <app-file-input ngModel name="image"></app-file-input>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">ADD Album</button>
  </form>
</app-forms-container>
